/*
 * Remove template code below
 */

 :host {
    display: block;
    font-family: sans-serif;
    min-width: 300px;
    max-width: 600px;
    margin: 50px auto;
  }

  .header {
    line-height: 1;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
  }

  