<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col">
                <h3>documents</h3>
            </div>
            <div class="col text-right">
                <button class="btn btn-primary" (click)="onReset()">Reset</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <cdk-virtual-scroll-viewport class="document-scroll-container" style="height: 500px" itemSize="20">
            <nx-document-viewer-item class="document-scroll-item list-group-item" *cdkVirtualFor="let t of documentStore?.documents$ | async | sortBy:'desc':'id'" [document]="t">
            </nx-document-viewer-item>
        </cdk-virtual-scroll-viewport>
    </div>

</div>