<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col">
                <h3>documents</h3>
            </div>
            <div class="col text-right">
                <button class="btn btn-primary" (click)="onReset()">Reset</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <cdk-virtual-scroll-viewport style="height: 500px" itemSize="20">
                <ng-container *cdkVirtualFor="let t of documentStore?.documents$ | async">
                    <li class="list-group-item" >
                        <h3>{{ t.name }}</h3>
                        {{t.id}}: {{t.uploadTime}}
                    </li>
                </ng-container>
            </cdk-virtual-scroll-viewport>
        </ul>
    </div>

</div>